@using DXSCV.Models;
@model DXSCV.Models.UsuarioViewModel

@{
    ViewBag.Title = "SCV - Home";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div style="width:100%;position:relative;margin-bottom:10px;margin-top:10px;font-size:2em;"></div>
<div style="margin-top:50px;">

    <table style="width:100%;">
        <tr>
            <td style="width:2%;"></td>
            <td style="width:96%;">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align:center;" colspan="4">
                            @Html.DevExpress().HyperLink(settings =>
                            {

                                settings.NavigateUrl = "~/Vehiculo/Index";
                                settings.Properties.Text = "Grupo Forem";
                                settings.Properties.ImageUrl = "~/Content/Images/logo-forem-web.png";
                                
                                settings.ToolTip = "Haz clic para ver el listado de vehiculos de Grupo Forem";

                            }).GetHtml()
                        </td>
                    </tr>
                    <tr><td colspan="4" style="height:30px;"></td></tr>
                    <tr>
                        <td style="text-align:center;">
                            @Html.DevExpress().HyperLink(settings =>
                            {

                                //settings.NavigateUrl = "~/Vehiculo/Index?Filterby=1";
                                settings.NavigateUrl = "~/Vehiculo/Vehiculos?Filterby=1";
                                settings.Properties.Text = "Herramental Monterrey";
                                settings.Properties.ImageUrl = "~/Content/Images/logo-herramental.png";
                                settings.Properties.ImageWidth = 180;
                                settings.Properties.ImageHeight = 55;
                                settings.Enabled = Model.ShowLinkHerrMty;
                                //settings.Width = 200;
                                //settings.Height = 40;
                                settings.ToolTip = "Haz clic para ver el listado de vehiculos de Herramental Monterrey";

                            }).GetHtml()
                        </td>
                        <td style="text-align:center;">
                            @Html.DevExpress().HyperLink(settings =>
                            {

                                //settings.NavigateUrl = "~/Vehiculo/Index?Filterby=2";
                                settings.NavigateUrl = "~/Vehiculo/Vehiculos?Filterby=2";
                                settings.Properties.Text = "Metalinspec";
                                settings.Properties.ImageUrl = "~/Content/Images/MTI.png";
                                settings.Properties.ImageWidth = 180;
                                settings.Properties.ImageHeight = 55;
                                settings.Enabled = Model.ShowLinkMetalinspec;
                                settings.ToolTip = "Haz clic para ver el listado de vehiculos de Metalinspec";

                            }).GetHtml()
                        </td>
                        <td style="text-align:center;">
                            @Html.DevExpress().HyperLink(settings =>
                            {

                                //settings.NavigateUrl = "~/Vehiculo/Index?Filterby=3";
                                settings.NavigateUrl = "~/Vehiculo/Vehiculos?Filterby=3";
                                settings.Properties.Text = "Metalinspec Laboratorios";
                                settings.Properties.ImageUrl = "~/Content/Images/MTL.png";
                                settings.Properties.ImageWidth = 180;
                                settings.Properties.ImageHeight = 55;
                                settings.Enabled = Model.ShowLinkMetalinspecLab;
                                settings.ToolTip = "Haz clic para ver el listado de vehiculos de Metalinspec Laboratorios";

                            }).GetHtml()
                        </td>
                        <td style="text-align:center;">
                            @Html.DevExpress().HyperLink(settings =>
                            {

                                //settings.NavigateUrl = "~/Vehiculo/Index?Filterby=4";
                                settings.NavigateUrl = "~/Vehiculo/Vehiculos?Filterby=4";
                                settings.Properties.Text = "MetroLab";
                                settings.Properties.ImageUrl = "~/Content/Images/ML.png";
                                settings.Properties.ImageWidth = 180;
                                settings.Properties.ImageHeight = 55;
                                settings.Enabled = Model.ShowLinkMetroLab;
                                settings.ToolTip = "Haz clic para ver el listado de vehiculos de MetroLab";

                            }).GetHtml()
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:2%;"></td>
        </tr>
        <tr>
            <td colspan="4" style="height:40px;"></td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <h2>Notificaciones</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                @Html.Partial("SchedulerPartial", Model)
                @*@Html.Partial("GridViewPartialView", Model)*@
            </td>
        </tr>
    </table>

</div>